.item p{
    flex: 1;
    padding: 1rem;
    border: 1px solid gray;
}
.item button{
    font-size: 1rem;
    margin: 1rem;
}
.item button.btn-archive{
    font-size: 1rem;
    background-color: rgb(128, 205, 128);
}
.item button.btn-delete{
    font-size: 1rem;
    background-color: rgb(188, 102, 102);
}